@media screen and (min-width:1200px) {
    .fixed-width {
        width: 1000px;
        margin: auto;
    }
    .col-1 {
        width: calc(100% / 12 * 1);
    }
    .col-2 {
        width: calc(100% / 12 * 2);
    }
    .col-3 {
        width: calc(100% / 12 * 3);
    }
    .col-4 {
        width: calc(100% / 12 * 4);
    }
    .col-5 {
        width: calc(100% / 12 * 5);
    }
    .col-6 {
        width: calc(100% / 12 * 6);
    }
    .col-7 {
        width: calc(100% / 12 * 7);
    }
    .col-8 {
        width: calc(100% / 12 * 8);
    }
    .col-9 {
        width: calc(100% / 12 * 9);
    }
    .col-10 {
        width: calc(100% / 12 * 10);
    }
    .col-11 {
        width: calc(100% / 12 * 11);
    }
    .col-12 {
        width: calc(100% / 12 * 12);
    }
    [class*="col"] {
        float: left;
        padding: 50px;
    }
    body {
        background-color: #373C38;
        color: rgb(222, 223, 222);
    }
    /*NAV*/
    nav {
        line-height: 20px;
        margin: auto;
    }
    nav .fixed-width {
        background-color: #373C38;
    }
    nav .logo {
        height: 80px;
        width: auto;
        padding-left: 50px;
    }
    nav li {
        float: right;
        padding: 15px 10px;
    }
    nav .menu {
        float: right;
        padding: 0 15px;
    }
    nav .menu a {
        text-decoration: none;
        color: cornsilk;
        font-size: 14px;
    }

    /*STORY*/
    #story .col-12
    {
        border: #00AA90 1px solid;
        padding: 30px;
        margin-bottom: 30px;
    }
    #story .col-8 img
    {
        width: 100%;
        height: auto;
    }
    #story .col-4 p
    {
        line-height: 20px;
    }
    #story .col-4 .bottom
    {
        padding-bottom: 20px;
    }

    /*FOOTER*/
    footer .fixed-width {
        background-color: #373C38;
    }
    footer .col-6 {
        text-align: center;
        float: left;
    }
    footer .info {
        float: left;
        line-height: 20px;
        color: rgb(222, 223, 222);
    }
    footer .phone {
        padding-top: 20px;
    }
    footer .greenline {
        color: #86C166;
        padding-bottom: 20px;
    }
    footer .icons {
        margin-top: 200px;
    }
    footer .icon {
        float: right;
    }
    footer ul {
        padding-right: 50px;
    }
    footer li {
        float: right;
        padding-left: 15px;
    }
    footer a {
        color: #86C166;
    }
}